<!-- Footer -->
  <div class="footer">
    <div class="container">
      <div class="row">
        <div class="col-sm-3 contact">
          <h4>Contact me</h4>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation </p>
        </div>

        <div class="col-sm-3 twitter-feed-footer">
          <h4>Twitter Feed</h4>
          <!-- Here will be added automatically the tweet -->
          <div id="tweet-example-footer"></div>
        </div>
        
        <div class="col-sm-3 instagram">
          <h4>Instagram</h4>
          <ul id="instragram-footer"></ul>
        </div>

        <div class="col-sm-3 subscribe">
          <h4>Stay Tuned</h4>
          <p>Connect with me and feeling hard</p>
          <!-- Begin MailChimp Signup Form -->
          <div id="mc_embed_signup">
            <form action="http://gygsdesign.us11.list-manage.com/subscribe/post?u=94c004fbd08face605b799ad9&amp;id=60beb53d8e" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
                <div id="mc_embed_signup_scroll">
                <div class="mc-field-group">
                  <input type="email" value="" name="EMAIL" class="required email emailinput" id="mce-EMAIL" placeholder="Your email">
                </div>
                <div id="mce-responses" class="clear">
                  <div class="response" id="mce-error-response" style="display:none"></div>
                  <div class="response" id="mce-success-response" style="display:none"></div>
                </div>
                <div class="clear"><button type="submit" name="subscribe" id="mc-embedded-subscribe" class="button"><i class="flaticon-envelope32"></i> <span>Subscribe me</span></button></div><!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
                  <div style="position: absolute; left: -5000px;"><input type="text" name="b_94c004fbd08face605b799ad9_60beb53d8e" tabindex="-1" value=""></div>
                </div>
            </form>
          </div>
          <!--End mc_embed_signup-->
        </div>
      </div>
      
    </div>
  </div>
<div class="row footer-bottom">
        <div class="col-sm-5 copyright">
          <p>© 2015 by <a href="#">Instrument</a>. Powered by Wordpress. Designed by <a href="#">Kidesigner</a></p>
        </div>
        <div class="col-sm-5 col-sm-push-2 menu-footer">
          <ul class="clearfix">
            <li>
              <a href="#">Home</a>
            </li>
            <li>
              <a href="#">About</a>
            </li>
            <li>
              <a href="#">Blog</a>
            </li>
            <li>
              <a href="#">New Releases</a>
            </li>
            <li>
              <a class="go-to-top" href="#">To Top</a>
            </li>
          </ul>
        </div>
        <div class="col-sm-2 col-sm-pull-5 logo-footer">
          <!-- <img src="assets/img/elements/logo-2.png" alt="Logo"> -->
          <%= image_tag(image_path('logo-2.png'))%>
        </div>
    </div>